h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

a {
    font-size: 25px;
}

section {
    margin: 0.2vw;
}

main {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}

.navegationBar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}

.navegationBar a {
    color: white;
    text-decoration: none;
    padding: 0.5vw 1vw;
}

.navegationBar a:hover {
    background-color: #575757;
}

.summary {
    width: 50%;
    border: 2px solid black;
}

.summary div {
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.graphSummary {
    width: 100%;
}

.graphSummary img {
    width: 95%;
}

.paymentInfo {
    border: 2px solid black;
    margin: 0.5vw;
    height: 100%;
    justify-content: center;
    justify-items: center;
}

.loansDebts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    border: 2px solid black;
}

/* Movil */
@media (max-width: 760px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    body{
        padding-bottom: 10vh;
    }

    footer {
        display: none;
    }

    .navegationBar{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 3vh 0;
    }
    main{
        display: block;
    }

    .summary {
        width: 100%;
        border: 2px solid black;
    }

    .loansDebts {
        width: 100%;
        border: 2px solid black;
    }

}

/* Tablet */
@media (min-width: 761px) and (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    a {
        font-size: 15px;
    }
    
    body{
        padding-bottom: 10vh;
    }

    footer {
        display: none;
    }

    .navegationBar{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 3vh 0;
    }

    main{
        display: block;
    }

    .summary {
        width: 100%;
        border: 2px solid black;
        display: flex;
    }

    .summary div{
        width: 50%;
    }

    .loansDebts {
        width: 100%;
        border: 2px solid black;
        display: flex;
        flex-direction: row;
    }

    .paymentInfo{
        width: 45%;
        border: 2px solid black;

    }
}

/* Desktop */
@media (min-width: 1201px) {

}